body{
  background: #333
}

.grid{
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}


.box{
  grid-column: 2;
  border: 1px solid rgba(228, 209, 209, 0.089);
  padding: 15px;
  border-radius: 4px;
  background: rgba(83, 80, 80, 0.822);
}